
// animation additions
.chat-emote.chat-emote-NOBULLY:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.chat-emote.chat-emote-ITSRAWWW:hover {
  animation: ITSRAWWW-hover 100ms infinite;
}

@keyframes ITSRAWWW {
  from {
    left: 0;
  }

  to {
    left: 2px;
  }
}
@keyframes ITSRAWWW-hover {
  from {
    left: 0;
  }

  to {
    left: 2px;
  }
}

// animated emotes
.chat-emote.chat-emote-RaveDoge {
  width: 44px;
  height: 30px;
  margin-top: -30px;
  background: url('../../emotes/emoticons-animated/RaveDoge.gif');
}

.chat-emote.chat-emote-CuckCrab {
  width: 32px;
  height: 30px;
  margin-top: -30px;
  background: url('../../emotes/emoticons-animated/CuckCrab.gif');
}

.chat-emote.chat-emote-SourPls {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/SourPls.gif');
}

@keyframes MiyanoHype-anim {
  100% { background-position: -320px; }
}

.chat-emote-MiyanoHype {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/MiyanoHype.png') left center;
  animation: MiyanoHype-anim 800ms steps(10) 3;
}

.chat-emote-MiyanoHype:hover {
  animation: MiyanoHype-anim 800ms steps(10) infinite;
}

// twitch emotes
.chat-emote.chat-emote-4Head {
    width: 20px;
    height: 30px;
    margin-top: -30px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -242px -123px;
}

.chat-emote.chat-emote-DatSheffy {
    width: 24px;
    height: 30px;
    margin-top: -30px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -131px -90px;
}

.chat-emote.chat-emote-Kreygasm {
    width: 19px;
    height: 27px;
    margin-top: -27px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -141px 0;
}

.chat-emote.chat-emote-PJSalt {
    width: 36px;
    height: 30px;
    margin-top: -30px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -106px -123px;
}

.chat-emote.chat-emote-PogChamp {
    width: 23px;
    height: 30px;
    margin-top: -30px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -166px -28px;
}

.chat-emote.chat-emote-ResidentSleeper {
    width: 28px;
    height: 28px;
    margin-top: -28px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -212px -28px;
}

.chat-emote.chat-emote-SMOrc {
    width: 32px;
    height: 32px;
    margin-top: -32px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -25px -123px;
}

.chat-emote.chat-emote-SSSsss {
    width: 24px;
    height: 24px;
    margin-top: -24px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -239px 0;
}

.chat-emote.chat-emote-WinWaker {
    width: 30px;
    height: 30px;
    margin-top: -30px;
    background: url('../../emotes/twitch_emoticons.png') no-repeat -23px -59px;
}
