
// animation additions
.chat-emote.chat-emote-NOBULLY:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.chat-emote.chat-emote-ITSRAWWW:hover {
  animation: ITSRAWWW-hover 100ms infinite;
}

@keyframes ITSRAWWW {
  from {
    left: 0;
  }

  to {
    left: 2px;
  }
}
@keyframes ITSRAWWW-hover {
  from {
    left: 0;
  }

  to {
    left: 2px;
  }
}

// animated emotes
.chat-emote.chat-emote-RaveDoge {
  width: 44px;
  height: 30px;
  margin-top: -30px;
  background: url('../../emotes/emoticons-animated/RaveDoge.gif');
}

.chat-emote.chat-emote-CuckCrab {
  width: 32px;
  height: 30px;
  margin-top: -30px;
  background: url('../../emotes/emoticons-animated/CuckCrab.gif');
}

@keyframes MiyanoHype-anim {
  100% { background-position: -320px; }
}

.chat-emote-MiyanoHype {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/MiyanoHype.png') left center;
  animation: MiyanoHype-anim 800ms steps(10) 3;
}

.chat-emote-MiyanoHype:hover {
  animation: MiyanoHype-anim 800ms steps(10) infinite;
}

@keyframes Clap-anim {
  100% { background-position: -64px; }
}

.chat-emote-Clap {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/Clap.png') left center;
  animation: Clap-anim 400ms steps(2) 5;
}

.chat-emote-Clap:hover {
  animation: Clap-anim 400ms steps(2) infinite;
}

@keyframes COGGERS-anim {
  100% { background-position: -1920px; }
}

.chat-emote-COGGERS {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/COGGERS.png') left center;
  animation: COGGERS-anim 800ms steps(60) 2;
}

.chat-emote-COGGERS:hover {
  animation: COGGERS-anim 800ms steps(60) infinite;
}

