/*
 * repleased under:
 * Apache License
 * (https://github.com/9inevolt/betterdgg/blob/cfd28724b3dfba50643713504513cf13eb9d3bf3/LICENSE.txt)
 */

.spooky-anim-delay-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.spooky-anim-delay-2 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.spooky-anim-delay-3 {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.spooky-anim-delay-4 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.spooky-anim-delay-5 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes spooky-fadeIn {
  0% {opacity: 0.1;}
  100% {opacity: 0.5;}
}

@keyframes spooky-fadeIn {
  0% {opacity: 0.1;}
  100% {opacity: 0.5;}
}


.spooky-spooker {
  -webkit-animation-name: spooky-spooker;
          animation-name: spooky-spooker;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
          animation-fill-mode: forwards;
}

@keyframes spooky-spooker {
  0% {filter: invert(100%);}
  10%{filter: invert(0%);}
  30%{filter: invert(100%);}
  40%{filter: invert(0%);}

  50% {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
  60% {-webkit-transform: rotate(10deg); transform: rotate(10deg);}
  70% {-webkit-transform: rotate(70deg); transform: rotate(70deg);}
  80% {-webkit-transform: rotate(110deg); transform: rotate(110deg);}
  90% {-webkit-transform: rotate(180deg); transform: rotate(180deg);}

  100%{filter: invert(100%); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
}

@-webkit-keyframes spooky-spooker {
  0% {filter: invert(100%);}
  10%{filter: invert(0%);}
  30%{filter: invert(100%);}
  40%{filter: invert(0%);}

  50% {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
  60% {-webkit-transform: rotate(10deg); transform: rotate(10deg);}
  70% {-webkit-transform: rotate(70deg); transform: rotate(70deg);}
  80% {-webkit-transform: rotate(110deg); transform: rotate(110deg);}
  90% {-webkit-transform: rotate(180deg); transform: rotate(180deg);}

  100%{filter: invert(100%); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
}

.spooky-fadeIn {
  opacity: 0;
  -webkit-animation-name: spooky-fadeIn !important;
          animation-name: spooky-fadeIn !important;
  -webkit-animation-duration: 1s !important;
          animation-duration: 1s !important;
  /* Removed the fill mode as the animation only puts the emote to 0.5 opacity, so it has to be left to return to how it started */
}

@-webkit-keyframes spooky-pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes spooky-pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.spooky-pulse {
  -webkit-animation-name: spooky-pulse;
          animation-name: spooky-pulse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes spooky-blink {
  19% {opacity: 0;}
  20% {opacity: 1;}
  29% {opacity: 1;}
  30% {opacity: 0;}

  79% {opacity: 0;}
  80% {opacity: 1;}
  81% {opacity: 0;}

  89% {opacity: 0;}
  90% {opacity: 1;}
  91% {opacity: 0;}

  93% {opacity: 0;}
  94% {opacity: 1;}
  95% {opacity: 0;}

  96% {opacity: 0;}
  97% {opacity: 1;}
  98% {opacity: 0;}

  99% {opacity: 0;}
  100% {opacity:1;}
}

@keyframes spooky-blink {
  19% {opacity: 0;}
  20% {opacity: 1;}
  29% {opacity: 1;}
  30% {opacity: 0;}

  79% {opacity: 0;}
  80% {opacity: 1;}
  81% {opacity: 0;}

  89% {opacity: 0;}
  90% {opacity: 1;}
  91% {opacity: 0;}

  93% {opacity: 0;}
  94% {opacity: 1;}
  95% {opacity: 0;}

  96% {opacity: 0;}
  97% {opacity: 1;}
  98% {opacity: 0;}

  99% {opacity: 0;}
  100% {opacity:1;}
}

.spooky-blink {
  opacity: 0;
  -webkit-animation-name: spooky-blink;
          animation-name: spooky-blink;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes spooky-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }

  50% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }

  90% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spooky-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  10% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }

  50% {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }

  90% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spooky-spin {
  -webkit-animation-name: spooky-spin !important;
          animation-name: spooky-spin !important;
  -webkit-animation-duration: 3s !important;
          animation-duration: 3s !important;
  -webkit-animation-timing-function: ease-in !important;
          animation-timing-function: ease-in !important;
}

@-webkit-keyframes spooky-crawl {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: translate(200px, 80px) rotate(0);
            transform: translate(200px, 80px) rotate(0);
  }
  26% {
    -webkit-transform: translate(200px, 80px) rotate(-90deg);
            transform: translate(200px, 80px) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(280px, -120px) rotate(-90deg);
            transform: translate(280px, -120px) rotate(-90deg);
  }
  51% {
    -webkit-transform: translate(280px, -120px) rotate(-180deg);
            transform: translate(280px, -120px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translate(80px, -200px) rotate(-180deg);
            transform: translate(80px, -200px) rotate(-180deg);
  }
  76% {
    -webkit-transform: translate(80px, -200px) rotate(-270deg);
            transform: translate(80px, -200px) rotate(-270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-270deg);
            transform: translate(0, 0) rotate(-270deg);
  }
}

@keyframes spooky-crawl {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  25% {
    -webkit-transform: translate(200px, 80px) rotate(0);
            transform: translate(200px, 80px) rotate(0);
  }
  26% {
    -webkit-transform: translate(200px, 80px) rotate(-90deg);
            transform: translate(200px, 80px) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(280px, -120px) rotate(-90deg);
            transform: translate(280px, -120px) rotate(-90deg);
  }
  51% {
    -webkit-transform: translate(280px, -120px) rotate(-180deg);
            transform: translate(280px, -120px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translate(80px, -200px) rotate(-180deg);
            transform: translate(80px, -200px) rotate(-180deg);
  }
  76% {
    -webkit-transform: translate(80px, -200px) rotate(-270deg);
            transform: translate(80px, -200px) rotate(-270deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-270deg);
            transform: translate(0, 0) rotate(-270deg);
  }
}

.spooky-crawl {
  -webkit-animation-name: spooky-crawl;
          animation-name: spooky-crawl;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
