@include sprite-animation(
    $file-name: PepoCopter,
    $frame-count: 30,
    $sprite-width: 76px,
    $sprite-height: 32px,
    $animation-duration: 1s,
    $iteration-count: 8,
    $can-animate-forever: true,
    $extra-animation: true,
    $extra-animation-duration: 500ms,
    $extra-animation-iteration-count: 16,
    $extra-animation-timing-function: ease-in-out,
    $extra-animation-direction: alternate
) {
    0% { transform: translateY(0); }
    100% { transform: translateY(3px); }
};
