@include sprite-animation(
  $file-name: AngelThump,
  $frame-count: 84,
  $sprite-width: 7560px,
  $sprite-height: 32px,
  $animation-duration: 3s,
  $iteration-count: 1,
  $can-animate-forever: true,
  $end-on-last-frame: true
);
