@import "anim.scss";

@include sprite-animation(
    $file-name: COGGERS,
    $frame-count: 60,
    $sprite-width: 3120px,
    $sprite-height: 31px,
    $animation-duration: 800ms,
    $iteration-count: 2
);

@include sprite-animation(
    $file-name: PepoDance,
    $frame-count: 12,
    $sprite-width: 1032px,
    $sprite-height: 32px,
    $animation-duration: 600ms,
    $iteration-count: 5
);

@include sprite-animation(
    $file-name: VroomVroom,
    $frame-count: 117,
    $sprite-width: 11700px,
    $sprite-height: 32px,
    $animation-duration: 5000ms,
    $iteration-count: 1
);

@include sprite-animation(
    $file-name: WAG,
    $frame-count: 2,
    $sprite-width: 96px,
    $sprite-height: 32px,
    $animation-duration: 500ms,
    $iteration-count: 10
);

@include sprite-animation(
    $file-name: FeelsPepoMan,
    $frame-count: 5,
    $sprite-width: 150px,
    $sprite-height: 32px,
    $animation-duration: 500ms,
    $iteration-count: 7,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: PepoSleep,
    $frame-count: 48,
    $sprite-width: 1680px,
    $sprite-height: 32px,
    $animation-duration: 12900ms,
    $iteration-count: 2,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: NOM,
    $frame-count: 38,
    $sprite-width: 1786px,
    $sprite-height: 32px,
    $animation-duration: 2000ms,
    $animation-direction: alternate,
    $iteration-count: 1,
    $end-on-frame: 1,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: monkaMEGA,
    $frame-count: 17,
    $sprite-width: 578,
    $sprite-height: 32px,
    $animation-duration: 850ms,
    $iteration-count: 5,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: SURPRISE,
    $frame-count: 9,
    $sprite-width: 261px,
    $sprite-height: 31px,
    $animation-duration: 900ms,
    $iteration-count: 7,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: HACKER,
    $frame-count: 2,
    $sprite-width: 96px,
    $sprite-height: 34px,
    $animation-duration: 400ms,
    $iteration-count: 10,
    $can-animate-forever: true
);