@include css-animated-emote(PepoTurkey) {
    transform-style: preserve-3d;
    transform-origin: bottom center;

    @include emote-animation(1.4s, 4) {
        0% {
            transform: translateY(0px);
        }
        6.25% {
            transform: translateY(-3px) translateX(1px) rotate(7deg);
        }
        12.5% {
            transform: translateY(-5px) translateX(4px) rotate(12deg);
        }
        18.75% {
            transform: translateY(-3px) translateX(1px) rotate(7deg);
        }
        25% {
            transform: translateY(0px);
        }

        31.25% {
            transform: translateY(-3px) translateZ(1px) rotate(7deg);
        }
        37.5% {
            transform: translateY(-5px) translateZ(4px) rotate(25deg);
        }
        43.75% {
            transform: translateY(-3px) translateZ(1px) rotate(7deg);
        }
        50% {
            transform: translateY(0px);
        }

        56.25% {
            transform: translateY(-3px) translateX(-1px) rotate(-7deg);
        }
        62.5% {
            transform: translateY(-5px) translateX(-4px) rotate(-12deg);
        }
        68.75% {
            transform: translateY(-3px) translateX(-1px) rotate(-7deg);
        }
        75% {
            transform: translateY(0px);
        }

        81.25% {
            transform: translateY(-3px) translateZ(-1px) rotate(-7deg);
        }
        87.5% {
            transform: translateY(-5px) translateZ(-4px) rotate(-25deg);
        }
        93.75% {
            transform: translateY(-3px) translateZ(-1px) rotate(-7deg);
        }
        100% {
            transform: translateY(0px);
        }
    }
}
