@import "common";

@keyframes flash {
    0%, 50%, 100% { opacity: 1 }
    25%, 75% { opacity: 0 }
}
@keyframes emote-hit {
    0% { color: #B91010; font-size:200%; }
    1% { color: $color-light; font-size:190%; }
    2% { color: #B91010; font-size:200%; }
    3% { color: $color-light; font-size:190%; }
    4% { color: #B91010; font-size:200%; }
    100% { color: $color-light; font-size:120%; }
}

@keyframes rustle {
    from { left: 0; }
    to { left: 3px; }
}
@keyframes rustle-hover {
    from { left: 0; }
    to { left: 3px; }
}

@keyframes ree-anim {
    from { left: 0; }
    to { left: 3px; }
}

@keyframes ree-anim-hover {
    from { left: 0; }
    to { left: 3px; }
}

@keyframes tip {
    0% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
    30% {
        transform: rotate(20deg);
        transform-origin: 4px bottom;
    }
    80% {
        transform: rotate(-10deg);
        transform-origin: 4px bottom;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
}
@keyframes tip-hover {
    0% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
    30% {
        transform: rotate(20deg);
        transform-origin: 4px bottom;
    }
    80% {
        transform: rotate(-10deg);
        transform-origin: 4px bottom;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
}
@keyframes spook {
    0% {
        transform: translate(0px 0px);
    }
    25% {
        transform: translate(0px,4px)
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
}
@keyframes spook-hover {
    0% {
        transform: translate(0px 0px);
    }
    25% {
        transform: translate(0px,4px)
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
}
@keyframes dankmemes-anim {
    0%, 100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
@keyframes dankmemes-anim-hover {
    0%, 100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
@keyframes weewoo-anim {
    0%, 100% {
        opacity: 1;
    }
    10% {
        opacity: 0.5;
        -webkit-filter: hue-rotate(0deg) ;
        filter: hue-rotate(0deg) ;
    }
    11% {
        -webkit-filter: hue-rotate(170deg) ;
        filter: hue-rotate(170deg) ;
    }
    35% {
        opacity: 1
    }
    50% {
        opacity: 0.2;
        -webkit-filter: hue-rotate(170deg) ;
        filter: hue-rotate(170deg) ;
    }
    51% {
        -webkit-filter: hue-rotate(310deg) ;
        filter: hue-rotate(310deg) ;
    }
    65% {
        opacity: 1;
    }
    90%{
        opacity: 0.2;
        -webkit-filter: hue-rotate(310deg) ;
        filter: hue-rotate(310deg) ;
    }
    91% {
        -webkit-filter: hue-rotate(0deg) ;
        filter: hue-rotate(0deg) ;
    }
}

@keyframes weewoo-anim-hover {
    0%, 100% {
        opacity: 1;
    }
    10% {
        opacity: 0.2;
        -webkit-filter: hue-rotate(0deg) saturate(100%);
        filter: hue-rotate(0deg) saturate(100%);
    }
    11% {
        -webkit-filter: hue-rotate(170deg) saturate(200%);
        filter: hue-rotate(170deg) saturate(200%);
    }
    35% {
        opacity: 1
    }
    50% {
        opacity: 0.2;
        -webkit-filter: hue-rotate(170deg) saturate(200%);
        filter: hue-rotate(170deg) saturate(200%);
    }
    51% {
        -webkit-filter: hue-rotate(310deg) saturate(200%);
        filter: hue-rotate(310deg) saturate(200%);
    }
    65% {
        opacity: 1;
    }
    90%{
        opacity: 0.2;
        -webkit-filter: hue-rotate(310deg) saturate(200%);
        filter: hue-rotate(310deg) saturate(200%);
    }
    91% {
        -webkit-filter: hue-rotate(0deg) saturate(100%);
        filter: hue-rotate(0deg) saturate(100%);
    }
}

@keyframes nappa-anim {
    0% {
        transform: translate(0px 0px) scale(0.5);
    }
    5%,15%,25%,35% {
        transform: translate(0px,3px)
    }
    15%,35%,55% {
        transform: translate(0px,-3px)
    }
    10%,20%,30%,40%,50%{
        transform: translate(3px,0px)
    }
    15.1% {
        transform: scale(0.5);
        -webkit-filter: hue-rotate(-5deg);
        filter: hue-rotate(-5deg);
    }
    30.1% {
        transform: scale(0.75);
        opacity: 0.75;
        -webkit-filter: hue-rotate(-15deg) saturate(125%);
        filter: hue-rotate(-5deg) saturate(125%);;

    }
    60%{
        transform: scale(1.25);
        -webkit-filter: hue-rotate(-25deg) saturate(150%);
        filter: hue-rotate(-25deg) saturate(150%);;

        opacity: 0.75;
    }
    70%{
        opacity: 0;
    }
    90%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        transform: translate(0px,0px) scale(1.0);
        opacity: 1;
    }
}

@keyframes nappa-anim-hover {
    0% {
        transform: translate(0px 0px) scale(0.5);
    }
    5%,15%,25%,35% {
        transform: translate(0px,3px)
    }
    15%,35%,55% {
        transform: translate(0px,-3px)
    }
    10%,20%,30%,40%,50%{
        transform: translate(3px,0px)
    }
    15.1% {
        transform: scale(0.5);
        -webkit-filter: hue-rotate(-5deg);
        filter: hue-rotate(-5deg);
    }
    30.1% {
        transform: scale(0.75);
        opacity: 0.75;
        -webkit-filter: hue-rotate(-15deg) saturate(125%);
        filter: hue-rotate(-5deg) saturate(125%);;

    }
    60%{
        transform: scale(1.25);
        -webkit-filter: hue-rotate(-25deg) saturate(150%);
        filter: hue-rotate(-25deg) saturate(150%);;

        opacity: 0.75;
    }
    70%{
        opacity: 0;
    }
    90%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        transform: translate(0px,0px) scale(1.0);
        opacity: 1;
    }
}


@keyframes weewoo-anim-hover {
    0%, 100% {
        opacity: 1;
    }
    10% {
        opacity: 0.2;
        -webkit-filter: hue-rotate(0deg) saturate(100%);
        filter: hue-rotate(0deg) saturate(100%);
    }
    11% {
        -webkit-filter: hue-rotate(170deg) saturate(200%);
        filter: hue-rotate(170deg) saturate(200%);
    }
    35% {
        opacity: 1
    }
    50% {
        opacity: 0.2;
        -webkit-filter: hue-rotate(170deg) saturate(200%);
        filter: hue-rotate(170deg) saturate(200%);
    }
    51% {
        -webkit-filter: hue-rotate(310deg) saturate(200%);
        filter: hue-rotate(310deg) saturate(200%);
    }
    65% {
        opacity: 1;
    }
    90%{
        opacity: 0.2;
        -webkit-filter: hue-rotate(310deg) saturate(200%);
        filter: hue-rotate(310deg) saturate(200%);
    }
    91% {
        -webkit-filter: hue-rotate(0deg) saturate(100%);
        filter: hue-rotate(0deg) saturate(100%);
    }
}

@keyframes hhhehhehe-anim {
    0% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    20% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
    40% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    60% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
    80% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    100% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
}
@keyframes hhhehhehe-anim-hover {
    0% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    20% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
    40% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    60% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
    80% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    100% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
}
@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100%{ -webkit-transform: rotate(-360deg); }
}


.chat-emote-OverRustle {
    animation: rustle 100ms 7;
}
.chat-emote-OverRustle:hover {
    animation: rustle-hover 100ms infinite;
}

.chat-emote-MLADY {
    animation: tip 250ms 3;
}
.chat-emote-MLADY:hover {
    animation: tip-hover 250ms infinite;
}

.chat-emote-SpookerZ {
    animation: spook 250ms 3;
}
.chat-emote-SpookerZ:hover {
    animation: spook-hover 250ms infinite;
}

.chat-emote-DANKMEMES {
    animation: dankmemes-anim 1s 2;
}
.chat-emote-DANKMEMES:hover {
    animation: dankmemes-anim-hover 1s infinite;
}

.chat-emote-WEEWOO {
    animation: weewoo-anim 1.5s 1;
}
.chat-emote-WEEWOO:hover {
    animation: weewoo-anim-hover 2s infinite;
}

.chat-emote-Nappa {
    animation: nappa-anim 750ms 1;
}
.chat-emote-Nappa:hover {
    animation: nappa-anim-hover 750ms infinite;
}

.chat-emote-Hhhehhehe {
    animation: hhhehhehe-anim 500ms 1;
}
.chat-emote-Hhhehhehe:hover {
    animation: hhhehhehe-anim-hover 500ms infinite;
}

.chat-emote-REE {
    animation: ree-anim 100ms 7;
}
.chat-emote-REE:hover {
    animation: ree-anim-hover 100ms infinite;
}

.chat-emote.chat-emote-NOBULLY:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.chat-emote.chat-emote-ITSRAWWW:hover {
  animation: ITSRAWWW-hover 100ms infinite;
}

@keyframes ITSRAWWW {
  from {
    left: 0;
  }

  to {
    left: 2px;
  }
}
@keyframes ITSRAWWW-hover {
  from {
    left: 0;
  }

  to {
    left: 2px;
  }
}

.chat-emote-DJPepo {
    animation: dj 500ms 7;
}
.chat-emote-DJPepo:hover {
    animation: dj 500ms infinite;
}

@keyframes dj {
    0% { top: 10; }
    100% { top: 12px; }
}

@keyframes MiyanoHype-anim {
  100% { background-position: -320px; }
}

.chat-emote-MiyanoHype {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/MiyanoHype.png') left center;
  animation: MiyanoHype-anim 800ms steps(10) 3;
}

.chat-emote-MiyanoHype:hover {
  animation: MiyanoHype-anim 800ms steps(10) infinite;
}

@keyframes Clap-anim {
  100% { background-position: -44px; }
}

.chat-emote-Clap {
  width: 22px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/Clap.png') left center;
  animation: Clap-anim 400ms steps(2) 5;
}

.chat-emote-Clap:hover {
  animation: Clap-anim 400ms steps(2) infinite;
}

@keyframes COGGERS-anim {
  100% { background-position: -1920px; }
}

.chat-emote-COGGERS {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: url('../../emotes/emoticons-animated/COGGERS.png') left center;
  animation: COGGERS-anim 800ms steps(60) 2;
}

.chat-emote-COGGERS:hover {
  animation: COGGERS-anim 800ms steps(60) infinite;
}

@keyframes CuckCrab-anim {
  100% { background-position: -4032px; }
}

.chat-emote-CuckCrab {
  width: 32px;
  height: 30px;
  margin-top: -30px;
  background: url('../../emotes/emoticons-animated/CuckCrab.png') left center;
  animation: CuckCrab-anim 4000ms steps(126) 2;
}

.chat-emote-CuckCrab:hover {
  animation: CuckCrab-anim 4000ms steps(126) infinite;
}

@keyframes RaveDoge-anim {
  100% { background-position: -1276px; }
}

.chat-emote-RaveDoge {
  width: 44px;
  height: 30px;
  margin-top: -30px;
  background: url('../../emotes/emoticons-animated/RaveDoge.png') left center;
  animation: RaveDoge-anim 2000ms steps(29) 3;
}

.chat-emote-RaveDoge:hover {
  animation: RaveDoge-anim 2000ms steps(29) infinite;
}

