@import 'common';

$emote-prefix: '.chat-emote-';
$css-animated-emote-animations: ();
$css-animated-emote-can-animate-forever: false;
$context-css-animated-emote-mixin: false;

// Mixin for defining an emote with a css animation.
// Should be used in combination with emote-animation mixin.
@mixin css-animated-emote($name, $can-animate-forever: false) {
    $context-css-animated-emote-mixin: true !global;
    $css-animated-emote-can-animate-forever: $can-animate-forever !global;
    #{$emote-prefix + $name} {
        @content;
        animation: $css-animated-emote-animations;
        $css-animated-emote-animations: () !global;

        &:hover {
            animation-iteration-count: infinite;
        }

        @if $can-animate-forever {
            &-animate-forever {
                animation-iteration-count: infinite;
            }
        }
    }

    $context-css-animated-emote-mixin: false !global;
}

// Mixin for defining an animation within a css-animated-emote mixin.
// $animation-properties takes the same properties as the `animation` property.
// The mixin body takes the `@keyframes` definition.
@mixin emote-animation($animation-duration, $iteration-count){
    @if not $context-css-animated-emote-mixin {
        @error '`emote-animation` should be used inside `css-animated-emote` mixin!';
    }

    $index: length($css-animated-emote-animations);
    $suffix: if($index != 0, -#{$index}, '');
    $emote-name: str_slice( inspect(&), 2 + str_length($emote-prefix), -3 );
    $animation-name: #{$emote-name}-anim#{$suffix};

    @at-root {
        @keyframes #{$animation-name} {
            @content;
        }
    }

    $css-animated-emote-animations:
        append(
            $css-animated-emote-animations,
            $animation-duration $iteration-count $animation-name,
            comma
        ) !global;

    .generify-container.fast & {
        animation-duration: $animation-duration * 0.5;
        animation-iteration-count: $iteration-count * 2;

        &:hover {
            animation-iteration-count: infinite;
        }

        @if $css-animated-emote-can-animate-forever {
            &-animate-forever {
                animation-iteration-count: infinite;
            }
        }
    }

    .generify-container.slow & {
        animation-duration: $animation-duration * 2;
    }
}

@include css-animated-emote(OverRustle) {
    @include emote-animation(100ms, 7) {
        0% { transform: translateX(0); }
        100% { transform: translateX(3px); }
    }
}

@include css-animated-emote(MLADY) {
    transform-origin: 4px bottom;

    @include emote-animation(250ms, 3) {
        0% {
            transform: rotate(0deg);
        }
        30% {
            transform: rotate(20deg);
        }
        80% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}

@include css-animated-emote(SpookerZ) {
    @include emote-animation(250ms, 3) {
        0% {
            transform: translate(0px 0px);
        }
        25% {
            transform: translate(0px, 4px);
        }
        75% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(0deg);
            transform-origin: 4px bottom;
        }
    }
}

@include css-animated-emote(DANKMEMES) {
    @include emote-animation(1s, 2) {
        0%, 100% {
            filter: hue-rotate(0deg);
        }
        50% {
            filter: hue-rotate(360deg);
        }
    }
}

@include css-animated-emote(WEEWOO) {
    @include emote-animation(1.5s, 1) {
        0%, 100% {
            opacity: 1;
        }
        10% {
            opacity: 0.5;
            filter: hue-rotate(0deg);
        }
        11% {
            filter: hue-rotate(170deg);
        }
        35% {
            opacity: 1;
        }
        50% {
            opacity: 0.2;
            filter: hue-rotate(170deg);
        }
        51% {
            filter: hue-rotate(310deg);
        }
        65% {
            opacity: 1;
        }
        90%{
            opacity: 0.2;
            filter: hue-rotate(310deg);
        }
        91% {
            filter: hue-rotate(0deg);
        }
    }
}

@include css-animated-emote(Hhhehhehe) {
    @include emote-animation(500ms, 1) {
        0% {
            transform: translate(0px, 0px) rotate(-0deg);
        }
        20% {
            transform: translate(0px, 3px) rotate(-6deg);
        }
        40% {
            transform: translate(0px, 0px) rotate(-0deg);
        }
        60% {
            transform: translate(0px, 3px) rotate(-6deg);
        }
        80% {
            transform: translate(0px, 0px) rotate(-0deg);
        }
        100% {
            transform: translate(0px, 3px) rotate(-6deg);
        }
    }
}

@include css-animated-emote(ITSRAWWW) {
    @include emote-animation(100ms, 7) {
        0% { transform: translateX(0); }
        100% { transform: translateX(3px); }
    }
}

@include css-animated-emote(DJPepo, true) {
    @include emote-animation(500ms, 7) {
        0% { transform: translateY(0); }
        100% { transform: translateY(2px); }
    }
}

@include css-animated-emote(KEKE, true) {
    @include emote-animation(200ms, 5) {
        0% { transform: translate(0px, 0px); }
        50% { transform: translate(0px, 3px); }
        100% { transform: translate(0px, 0px); }
    }
}

@include css-animated-emote(PepeLaugh, true) {
    @include emote-animation(200ms, 5) {
        0% { transform: translate(0px, 0px); }
        50% { transform: translate(0px, 3px); }
        100% { transform: translate(0px, 0px); }
    }
}

@keyframes emote-hit {
    0% { color: #B91010; font-size:200%; }
    1% { color: $color-light; font-size:190%; }
    2% { color: #B91010; font-size:200%; }
    3% { color: $color-light; font-size:190%; }
    4% { color: #B91010; font-size:200%; }
    100% { color: $color-light; font-size:120%; }
}

@keyframes rustle {
    from { transform: translateX(0); }
    to { transform: translateX(3px); }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dankmemes-anim {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

@keyframes Shekels-anim {
    0% {
        top: -25px;
    }
    99% {
        top: 30px;
    }
    100%{
        top: -25px;
    }
}

.chat-emote.chat-emote-NOBULLY:hover {
    filter: invert(100%);
}

$spritesDir : '../../emotes/emoticons-animated/';

@mixin sprite-animation(
        $file-name,
        $frame-count,
        $sprite-width,
        $sprite-height,
        $animation-duration,
        $animation-direction: normal,
        $iteration-count: 1,
        $end-on-frame: 0,
        $end-on-last-frame: false,
        $can-animate-forever: true,
        $extra-animation: false,
        $extra-animation-duration: 0s,
        $extra-animation-timing-function: ease,
        $extra-animation-delay: 0s,
        $extra-animation-iteration-count: 1,
        $extra-animation-direction: normal,
        $extra-animation-fill-mode: none,
        $extra-animation-play-state: running,
        $file-ext: '.png') {

    $path: $spritesDir + $file-name + $file-ext;
    $frame-width: $sprite-width / $frame-count;

    @if $frame-width != round($frame-width) {
        @error
            "$sprite-width should be divisible by $frame-count to prevent blurry rendering
            Error on sprite-animation \"#{$file-name}\"";
    }

    @if $extra-animation {
        @keyframes #{$file-name}-extra-anim {
            @content
        }
    }

    @keyframes #{$file-name}-anim {
        0% {
            background-position: 0;
        }

        100% {
            background-position: -#{$sprite-width};
        }
    }

    .chat-emote-#{$file-name} {
        width: $frame-width;
        height: $sprite-height;
        margin-top: -$sprite-height;
        background: url($path) left center;

        @if $extra-animation {
            animation: #{$file-name}-anim $animation-duration steps($frame-count) $iteration-count none $animation-direction , #{$file-name}-extra-anim $extra-animation-duration $extra-animation-timing-function $extra-animation-delay $extra-animation-iteration-count $extra-animation-direction $extra-animation-fill-mode $extra-animation-play-state;
            &:hover {
                animation: #{$file-name}-anim $animation-duration steps($frame-count) infinite $animation-direction, #{$file-name}-extra-anim $extra-animation-duration $extra-animation-timing-function $extra-animation-delay infinite $extra-animation-direction $extra-animation-fill-mode $extra-animation-play-state;
            }
        }
        @else {
            animation: #{$file-name}-anim $animation-duration steps($frame-count) $iteration-count none $animation-direction;
            &:hover {
                animation: #{$file-name}-anim $animation-duration steps($frame-count) infinite $animation-direction;
            }
        }

        @if $end-on-last-frame {
            background-position: #{$sprite-width / $frame-count};
        }
        @else if $end-on-frame != 0 {
            background-position: #{$sprite-width / $frame-count * $end-on-frame};
        }

        @if $can-animate-forever {
            &-animate-forever {
                animation: #{$file-name}-anim $animation-duration steps($frame-count) infinite;
            }
        }
    }

    .generify-emote-#{$file-name} {
        @include dank-animation(
            $file-name: $file-name,
            $animation-duration: $animation-duration,
            $iteration-count: $iteration-count,
        )
    }

    .generify-emote-#{$file-name} .fast {
        .chat-emote-#{$file-name} {
            animation-duration: $animation-duration * 0.5;
            animation-iteration-count: $iteration-count * 2;

            &:hover {
                animation-iteration-count: infinite;
            }

            @if $can-animate-forever {
                &-animate-forever {
                    animation-iteration-count: infinite;
                }
            }
        }
    }
    .generify-emote-#{$file-name} .reverse {
        .chat-emote-#{$file-name} {
          animation-direction:reverse;

            &:hover {
                animation-iteration-count: infinite;
            }

            @if $can-animate-forever {
                &-animate-forever {
                    animation-iteration-count: infinite;
                }
            }
        }
    }

    .generify-emote-#{$file-name} .slow {
        .chat-emote-#{$file-name} {
            animation-duration: $animation-duration * 2;
        }

        @include dank-animation(
            $file-name: $file-name,
            $animation-duration: $animation-duration * 2,
            $iteration-count: $iteration-count,
            $dank-animation-duration: 2s
        )
    }
}

@mixin dank-animation(
        $file-name,
        $animation-duration,
        $iteration-count,
        $dank-animation-duration: 1s) {
    .generify-dank {
        animation: dankmemes-anim $dank-animation-duration #{$animation-duration / $dank-animation-duration * $iteration-count};
    }

    .generify-dank:hover {
        animation: dankmemes-anim $dank-animation-duration infinite;
    }
}

@include sprite-animation(
    $file-name: MiyanoHype,
    $frame-count: 10,
    $sprite-width: 320px,
    $sprite-height: 32px,
    $animation-duration: 800ms,
    $iteration-count: 3
);

@include sprite-animation(
    $file-name: Clap,
    $frame-count: 2,
    $sprite-width: 44px,
    $sprite-height: 32px,
    $animation-duration: 400ms,
    $iteration-count: 5
);

@include sprite-animation(
    $file-name: COGGERS,
    $frame-count: 60,
    $sprite-width: 1920px,
    $sprite-height: 32px,
    $animation-duration: 800ms,
    $iteration-count: 2
);

@include sprite-animation(
    $file-name: CuckCrab,
    $frame-count: 20,
    $sprite-width: 640px,
    $sprite-height: 32px,
    $animation-duration: 600ms,
    $iteration-count: 5
);

@include sprite-animation(
    $file-name: RaveDoge,
    $frame-count: 29,
    $sprite-width: 1276px,
    $sprite-height: 30px,
    $animation-duration: 2000ms,
    $iteration-count: 3
);

@include sprite-animation(
    $file-name: PepoDance,
    $frame-count: 10,
    $sprite-width: 460px,
    $sprite-height: 32px,
    $animation-duration: 500ms,
    $iteration-count: 5
);

@include sprite-animation(
    $file-name: PepeJam,
    $frame-count: 4,
    $sprite-width: 132px,
    $sprite-height: 32px,
    $animation-duration: 250ms,
    $iteration-count: 8
);

@include sprite-animation(
    $file-name: LAG,
    $frame-count: 9,
    $sprite-width: 360px,
    $sprite-height: 32px,
    $animation-duration: 4000ms,
    $iteration-count: 2,
    $end-on-last-frame: true,
    $can-animate-forever: false
);

@include sprite-animation(
    $file-name: SNAP,
    $frame-count: 15,
    $sprite-width: 750px,
    $sprite-height: 32px,
    $animation-duration: 1000ms,
    $iteration-count: 2
);

@include sprite-animation(
    $file-name: VroomVroom,
    $frame-count: 101,
    $sprite-width: 3232px,
    $sprite-height: 32px,
    $animation-duration: 4000ms,
    $iteration-count: 2
);

@include sprite-animation(
    $file-name: mikuDance,
    $frame-count: 27,
    $sprite-width: 756px,
    $sprite-height: 32px,
    $animation-duration: 3000ms,
    $iteration-count: 2
);

@include sprite-animation(
    $file-name: WAG,
    $frame-count: 2,
    $sprite-width: 74px,
    $sprite-height: 32px,
    $animation-duration: 500ms,
    $iteration-count: 10
);

@include sprite-animation(
    $file-name: BONK,
    $frame-count: 2,
    $sprite-width: 110px,
    $sprite-height: 32px,
    $animation-duration: 500ms,
    $iteration-count: 10
);

@include sprite-animation(
    $file-name: ComfyWAG,
    $frame-count: 2,
    $sprite-width: 76px,
    $sprite-height: 32px,
    $animation-duration: 500ms,
    $iteration-count: 10
);


@include sprite-animation(
    $file-name: illyaTriggered,
    $frame-count: 8,
    $sprite-width: 256px,
    $sprite-height: 32px,
    $animation-duration: 400ms,
    $iteration-count: 4,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: OhISee,
    $frame-count: 20,
    $sprite-width: 640px,
    $sprite-height: 32px,
    $animation-duration: 1200ms,
    $iteration-count: 2,
    $can-animate-forever: false
);

@include sprite-animation(
    $file-name: FeelsCountryMan,
    $frame-count: 15,
    $sprite-width: 480px,
    $sprite-height: 32px,
    $animation-duration: 850ms,
    $iteration-count: 4,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: SNAP,
    $frame-count: 6,
    $sprite-width: 180px,
    $sprite-height: 30px,
    $animation-duration: 360ms,
    $iteration-count: 2,
    $can-animate-forever: false
);

@include sprite-animation(
    $file-name: HiHi,
    $frame-count: 19,
    $sprite-width: 570px,
    $sprite-height: 30px,
    $animation-duration: 1900ms,
    $iteration-count: 2,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: HACKER,
    $frame-count: 16,
    $sprite-width: 768px,
    $sprite-height: 32px,
    $animation-duration: 1600ms,
    $iteration-count: 2,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: KEKW,
    $frame-count: 16,
    $sprite-width: 1024px,
    $sprite-height: 32px,
    $animation-duration: 400ms,
    $iteration-count: 7,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: FeelsPepoMan,
    $frame-count: 4,
    $sprite-width: 128px,
    $sprite-height: 32px,
    $animation-duration: 400ms,
    $iteration-count: 7,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: catJAM,
    $frame-count: 158,
    $sprite-width: 4424px,
    $sprite-height: 28px,
    $animation-duration: 6500ms,
    $iteration-count: 2,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: WAYTOODANK,
    $frame-count: 90,
    $sprite-width: 2520px,
    $sprite-height: 28px,
    $animation-duration: 1800ms,
    $iteration-count: 2,
    $end-on-frame: 45,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: REE,
    $frame-count: 39,
    $sprite-width: 1248px,
    $sprite-height: 32px,
    $animation-duration: 3900ms,
    $animation-direction: alternate,
    $iteration-count: 2,
    $can-animate-forever: true,
    $extra-animation: true,
    $extra-animation-duration: 100ms,
    $extra-animation-iteration-count: 64
) {
    0% { transform: translateX(0); }
    100% { transform: translateX(3px); }
}

@include sprite-animation(
    $file-name: RIDIN,
    $frame-count: 8,
    $sprite-width: 640px,
    $sprite-height: 32px,
    $animation-duration: 2000ms,
    $iteration-count: 7,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: ComfyMoobers,
    $frame-count: 34,
    $sprite-width: 1088px,
    $sprite-height: 32px,
    $animation-duration: 2550ms,
    $iteration-count: 2,
    $can-animate-forever: true
);

@include sprite-animation(
    $file-name: Cinnabunny,
    $frame-count: 5,
    $sprite-width: 140px,
    $sprite-height: 28px,
    $animation-duration: 500ms,
    $iteration-count: 7,
    $can-animate-forever: true
);
