@mixin lotr-flag($name, $width, $duration, $frame-count) {
  $frame-width: $width / $frame-count;

  .generify-#{$name} {
      margin-left: $frame-width;

      &::before {
          position: absolute;
          background-image: image-set(url("/assets/emotes/lotr/modifiers/4x/#{$name}.png") 4x, url("/assets/emotes/lotr/modifiers/2x/#{$name}.png") 2x, url("/assets/emotes/lotr/modifiers/#{$name}.png") 1x);
          overflow: hidden;
          width: $frame-width;
          height: 32px;
          bottom: 0;
          right: 93%;
          z-index: 0;
          content: "";
          transform: rotate(-10deg);
          transform-origin: 100% 100%;
          animation: anim-flag-#{$name} $duration steps($frame-count) 5;
      }

      @at-root .pref-animateforever &::before, &:hover::before {
          animation-iteration-count: infinite;
      }
  }

  @keyframes anim-flag-#{$name} {
      0% {
          background-position-x: 0px;
      }
      100% {
          background-position-x: calc(100% - #{$frame-width});
      }
  }
}

@include lotr-flag(
  $name: rohan,
  $width: 2040px,
  $duration: 1333ms,
  $frame-count: 40
);

@include lotr-flag(
  $name: gondor,
  $width: 2300px,
  $duration: 1533ms,
  $frame-count: 46
);

@include lotr-flag(
  $name: mordor,
  $width: 480px,
  $duration: 1333ms,
  $frame-count: 30
);

@include lotr-flag(
  $name: saruman,
  $width: 480px,
  $duration: 1333ms,
  $frame-count: 30
);
