.icon-angelthump,.icon-bot,.icon-command,.icon-error,.icon-flair11,.icon-flair12,.icon-flair15,.icon-flair2,.icon-flair4,.icon-flair5,.icon-flair6,.icon-flair9,.icon-google,.icon-info,.icon-moderator,.icon-protected,.icon-reddit,.icon-status,.icon-tv,.icon-twitch,.icon-twitter,.icon-youtube{
    background-image:url('/assets/icons/icons.png');
    background-repeat:no-repeat;
    display: inline-block;
}
.icon-angelthump {
    background-position: -0px -0px;
    width: 54px;
    height: 18px;
}
.icon-bot {
    background-position: -56px -20px;
    width: 16px;
    height: 16px;
}
.icon-command {
    background-position: -32px -20px;
    width: 16px;
    height: 16px;
}
.icon-error {
    background-position: -0px -41px;
    width: 16px;
    height: 16px;
}
.icon-flair11 {
    background-position: -18px -41px;
    width: 16px;
    height: 16px;
}
.icon-flair12 {
    background-position: -36px -41px;
    width: 16px;
    height: 16px;
}
.icon-flair15 {
    background-position: -54px -41px;
    width: 16px;
    height: 16px;
}
.icon-flair2 {
    background-position: -0px -59px;
    width: 16px;
    height: 16px;
}
.icon-flair4 {
    background-position: -18px -59px;
    width: 16px;
    height: 16px;
}
.icon-flair5 {
    background-position: -36px -59px;
    width: 16px;
    height: 16px;
}
.icon-flair6 {
    background-position: -54px -59px;
    width: 16px;
    height: 16px;
}
.icon-flair9 {
    background-position: -83px -0px;
    width: 16px;
    height: 16px;
}
.icon-google {
    background-position: -83px -18px;
    width: 16px;
    height: 16px;
}
.icon-info {
    background-position: -83px -36px;
    width: 16px;
    height: 16px;
}
.icon-moderator {
    background-position: -83px -54px;
    width: 16px;
    height: 16px;
}
.icon-protected {
    background-position: -0px -77px;
    width: 16px;
    height: 16px;
}
.icon-reddit {
    background-position: -18px -77px;
    width: 16px;
    height: 16px;
}
.icon-status {
    background-position: -36px -77px;
    width: 16px;
    height: 16px;
}
.icon-tv {
    background-position: -0px -20px;
    width: 30px;
    height: 19px;
}
.icon-twitch {
    background-position: -54px -77px;
    width: 16px;
    height: 16px;
}
.icon-twitter {
    background-position: -72px -77px;
    width: 16px;
    height: 16px;
}
.icon-youtube {
    background-position: -56px -0px;
    width: 25px;
    height: 18px;
}