name: SSH-Deploy

on: 
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: ssh-deploy for chat-gui
      uses: appleboy/ssh-action@122f35dca5c7a216463c504741deb0de5b301953
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          cd chat_frontend
          git pull
          nvm use default
          npm ci
          npm run build:production
